#
# 机型选择
#
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1=y

#
# 取消默认插件
#
cat >> .config <<EOF
# CONFIG_DEFAULT_luci-app-accesscontrol is not set
# CONFIG_DEFAULT_luci-app-ssr-plus is not set
EOF

#
# 主题
#
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y

